COLOR    Bitmap    "Resource\\COLOR.BMP"
CUS    Bitmap    "Resource\\CUS.BMP"
DBX    Bitmap    "Resource\\DBX.BMP"
ES    Bitmap    "Resource\\ES.BMP"
FH    Bitmap    "Resource\\FH.BMP"
LINE    Bitmap    "Resource\\LINE.BMP"
RECT    Bitmap    "Resource\\RECT.BMP"
ARROW    Bitmap    "Resource\\ARROW.BMP"
TABLE    Bitmap    "Resource\\TABLE.BMP"
TEXT    Bitmap    "Resource\\TEXT.BMP"
