COLOR    ICON    "Resource\\COLOR.ICO"
CUS    ICON    "Resource\\CUS.ICO"
DBX    ICON    "Resource\\DBX.ICO"
ES    ICON    "Resource\\ES.ICO"
FH    ICON    "Resource\\FH.ICO"
LINE    ICON    "Resource\\LINE.ICO"
RECT    ICON    "Resource\\RECT.ICO"
ARROW    ICON    "Resource\\ARROW.ICO"
TABLE    ICON    "Resource\\TABLE.ICO"
TEXT    ICON    "Resource\\TEXT.ICO"
